/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


/* Variables */
:root{
    --background-color: #97B098;
    --text-color: #B8B08D;
    --text-color-two: #F29559;
    --text-color-three: #BAD7F2;
    --box-color: #F2D492;
}


*{
    box-sizing: border-box;
    text-decoration: none;
}

.name{
    background-color: white;
    color:black;
    max-width: 80%;
    margin: auto;
}

/* Navigation Styles */

nav{
    margin: auto;
    background-color: #202C39;
    border-bottom: #F2D492 solid 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 80%;
    padding: 10px;
    color: var(--text-color);

}
a:link {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color-three);
}

a:hover, a.link:hover  {
  color: var(--text-color-two);
}

a:active {
  color: black;
}
a.link:link {
  color: var(--text-color-two);
}

a.link:visited {
  color: navy;
}

a.link:hover  {
  color: firebrick;
}

a.link:active {
  color: white;
}

/* Styles for main section */

body{
    background-color: var(--background-color);
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

main{
    background-color: var(--box-color);
    max-width: 80%;
    margin: auto;
    text-align: left;
    font-family: 'Times New Roman', sans-serif, Times;
    font-size: 20px;
     padding:20px;
}

h2, h3{
    text-align: center;
    max-width: 80%;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.text{
    color: black;
}
button{
    padding: 5px;
}
/* Styles for footer section */

footer{
    display: flex;
    flex-direction: column;
    background-color: #202C39;
    border-top: #F2D492 solid 5px;
    color: white;
    max-width: 80%;
    margin: auto;
}


footer, nav, .name{
    font-family:'Julius Sans One', sans-serif;
    font-size: 23px;
}

#images > img{
    max-width: 30%;
}

.title,.title > .company{
    display: flex;
    flex-direction: row;
}
.title > .company{
    font-weight: normal;
}
.job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.job > .title{
    font-weight: bold;
}
.job > .duration, .school-header > .duration{
    font-style: italic;
}
#contacts > a >img{
    max-width: 100px;
    max-height: 100px;
}
#contacts{
    display: flex;
    justify-content: space-evenly;
}
.school-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
@media screen and (min-width: 480px) {
    body {
        display:grid;
        grid-template-areas:
            "name" 
            "nav"
            "main"
            "footer";
    }
    .name{
        grid-area: name;
    }
    nav{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}

#name{
    font-size: 30px;
    font-weight: bold;
    background-color: var(--mint-green);
}
#about
{
    text-align: left;
}
nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--rose-quartz);
}
li{
    padding: 13px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
h3{
    text-align: center;
}
#contacts{
    justify-content: space-between;
    display: flex;
}
img{
    max-width: 100px;
    max-height: 100px;
}
input{
    text-align:center;
}
#education, .job, .company{
    text-align:left;
}
.duration{
    text-align:right;
    font-weight: normal;
}
.title{
    font-weight: bold;
}
.job {
    display:flex;
    flex-direction: right;
    justify-content: space-between;
}

.degree{
    font-style: italic;
}
.footer >a{
    font-size: 19px;
    
}
footer{
    text-align: center ;
}

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
  }
  nav{
    grid-area: nav;
  }
  main{
    grid-area: main;
  }
  footer{
    grid-area:footer;
  }
}


Project Styles
.note-container{
    box-shadow: 4px 4px 8px #333333;
    position: relative;
    animation: popIn .5s forward;
    transition: all .3s ease-in;
    opacity: 0;
    transform: scale(0);
}
@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(.5);

    }
    50%{
        opacity: .7s;
        transform: scale(1.1);

    }
    100%{
        opacity: 1;
        transform: scale(1);

    }
}
.note-header{
    position:relative;
    background: lightsteelblue;
    padding: 5px 10px;
}
Global Styles & Custom Properties
.projects > .game-container
{
    background-color: black;
}
.game-container {
    width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    padding: 0 10px;
}  
Header
header {
    border-bottom: 1px solid var(--darkGray);
}
header h1 {
    text-align: center;
    color: var(--lightGray);
    margin: 10px 0 10px;
}  
Gameboard
.gameboard {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(65px, auto);
    grid-gap: 5px;
}  
.gameboard .card {
    border: 2px solid BLACK;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--white);
    text-transform: uppercase;
    user-select: none;
}  
Keyboard
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    touch-action added here to prevent double tapping to zoom for mobile devices
    touch-action: interaction;
}  
.keyboard .row {
    display: flex;
    gap: 7px;
    width: 100%;
}  
.keyboard .row.middle {
    width: 92%;
    max-width: 100%;
}  
.keyboard button {
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 52px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: black;
    color: var(--lightGray);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    touch-action added here to prevent double tapping to zoom for mobile devices
    touch-action: interaction;
}  
.keyboard button[data-enter],
.keyboard button[data-delete] {
    flex: 1.5;
    font-size: 12px;
}  
/* Shared 
.gameboard .card[data-state='wrong'],
.keyboard button[data-state='wrong'] {
    border: none;
    background-color: var(--darkGray);
}  
.gameboard .card[data-state='found'],
.keyboard button[data-state='found'] {
    border: none;
    background-color: var(--yellow);
}  
.gameboard .card[data-state='correct'],
.keyboard button[data-state='correct'] {
    border: none;
    background-color: var(--green);
}
/*Contact
#contacts{
    justify-content: space-around;
    display: flex;
    margin: auto;
}
#contact> a > img{
    margin: auto;
    justify-content: center;
    display: flex;
    max-width: 100px;
    max-height: 100px;
}
@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
  }
  nav{
    grid-area: nav;
  }
  main{
    grid-area: main;
  }
  footer{
    grid-area:footer;
  }
  #contacts{
    display:flex;
    flex-direction: column;
  }
  #contacts>a
  {
    padding: 50px;
  }
}
 */