body{
    background-color: #FFC55A;
    color: red;
}
.ul-class{
    display: block;
}
.nav-buttons{
    text-decoration: none;
}
nav{
    background-color: gray;
}
.about, .school, .exposure, 
.projects, .other, .extras, .contact{
    background-color: #FFC55A;
    color: black;
}
.index:active{
    background-color: black;
    color: white;
}
.container{
    background-color: #00215E;
}
