*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}
:root{
    --background-color: #169873;
    --foreground: #F49FBC;
    --nav-background: #9EBD6E;
    --nav-color: #805D93;
    --nav-link-color: #FFD3BA;
    --nav-link-color-active: white;

}
/*
 * Header and Navigation Styles
 */
header
{
    width: 80%;
    height: 70px;
    background: var(--nav-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius:  0 0 10px 10px;
    margin: 0 auto;
}
img
{
    width: 100px;
}
.logo
{
    width: 120px;
    margin-top: 10px; 
}
nav .logo
{
    display: none;
}
nav ul
{
    display: flex;
}
nav ul li a 
{
  color: var(--nav-color);
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: .2s;
  border-radius: 30px;
}
nav ul li a:hover
{
    background: var(--nav-link-color);
}
nav ul li a.active
{
    background: var(--background-color);
    color: var(--nav-link-color-active);
}
.hamburger
{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: .2s;
}
.hamburger:hover
{
    background: var(--foreground);
}
.hamburger div
{
    width: 30px;
    height: 2px;
    margin:  6px 0 ;
    background: black;
}
 /* Body Styles */

body 
{
    background: var(--background-color);
}
main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
section
{
    background: var(--foreground);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#icons
{
    background: var(--foreground);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#personal
{
    width: 250px;
    height: 350px;
}
.flip-card 
{
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px; 
}
    
.flip-card-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,.02);
}  
.flip-card:hover .flip-card-inner 
{
    transform: rotateY(180deg);
}  
.flip-card-front, .flip-card-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
.flip-card-front 
{
    background-color: #bbb;
    color: black;
}
.flip-card-back 
{
    background-color: var(--nav-background);
    color: var(--nav-color);
    transform: rotateY(180deg);
}
.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover 
{
    opacity: 0.7;
}
.fa-linkedin 
{
    background: #007bb5;
    color: white;
}

.fa-youtube 
{
    background: #bb0000;
    color: white;
}
  
/*
 * Media Query for Phones
 */
 @media only screen and (max-width: 1100px ) 
 {
    header
    {
        width: 90%;
        padding: 0 20px;
    }
    nav
    {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: var(--nav-background);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgb(0,0,0,.05);
    }
    #nav_check:checked ~ nav
    {
        left: 0;
    }
    nav .logo
    {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;

    }
    nav ul li a 
    {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px ;
    }
    nav ul 
    {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger
    {
        display: block;
    }
 }